<body>
  <%= render "shared/header" %>

  <%= render "shared/navbar" %>
  
  <div id="content">
    <div id="content_text">
        <%= form_for @suggestion, :url => { :action => "create" }, :html => {:class => "nifty_form"} do |f| %>
        <p>Title</p>
        <%= f.text_field :title %></br>

        <p>What do you suggest?</p>
        <%= f.text_area :body, :size => "60x12" %> 

        <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>

  <%= render "shared/footer" %>

</body>